<div class="post-holder">
  <h1 class="post-title">{{model.title}}</h1>
  <h5 id="post-date">{{format-date model.date}} on {{format-date-two model.date}}</h5>
  <h3 class="post-body-text">{{markdown-to-html markdown=model.description}}</h3>

  {{#if session.isAuthenticated}}
    <br>{{#link-to 'post.edit' model.id}}Edit{{/link-to}}
  {{/if}}
  <br>
  <br>

  {{outlet}}

  <div class="disqis-holder">
    {{disqus-comments identifier=model.title}}
  </div>
</div>
