<div class="row">
  <div class="col-xs-12">
		<br>
		<br>
    {{#each post in model}}
    	{{#link-to 'post.index' post.id classNames="post-title"}} {{post.title}}{{/link-to}}
			<h5 id="post-date">{{format-date post.date}} on {{format-date-two post.date}}</h5>
			<h3 class="post-summarized">{{markdown-to-html markdown=post.description}}</h3>

			{{#link-to 'post.index' post.id classNames="post-footer"}}View Full Post/Leave Comment{{/link-to}}

			<br>
			<br>
			<br>
    {{/each}}
  </div>
  {{outlet}}
</div>
